# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails / Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors / IDE
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/

# Logs & temp
*.log
*.tmp
*.temp
.cache/
